# Dewesh Chopra
# MCA/10032/22
# ML Lab
# Assignment no. 1

# Perform following operations using Python:

a) Updating an existing String

b) Using built-in String Methods to Manipulate Strings e.g len(),find(),decode(),isalpha(), isdigit() ,count() etc.

In [1]:
# Question 1

In [2]:
str = "Hello, world."

In [3]:
# update
str = "Hello World!"

In [4]:
# methods
len(str)

12

In [5]:
str.find("e")

1

In [6]:
str.isalpha()

False

In [7]:
str.isdigit()

False

In [8]:
str.count("l")

3

In [9]:
strenc = str.encode('utf-8')
strenc.decode(encoding='utf-8',errors='strict')

'Hello World!'

# Perform the following on ‘Lists’ using Python

a) Updating, Slicing, Indexing

b) Using following built-in Methods to manipulate lists: append(), extend(), insert(), pop(), remove(),reverse(), sort().

In [10]:
# Question 2

In [11]:
lst = [10, 20, 30, 40, 50]

In [12]:
# update
lst = ["Cat", "Dog", "Bear", "Snake", "Horse", "Tiger"]

In [13]:
# slicing
lst2 = lst[1:4]

In [14]:
lst2

['Dog', 'Bear', 'Snake']

In [15]:
# indexing
lst[3]

'Snake'

In [16]:
# append
lst.append("Wolf")
lst

['Cat', 'Dog', 'Bear', 'Snake', 'Horse', 'Tiger', 'Wolf']

In [17]:
# extend
lst3 = ["Eagle", "Koala"]
lst.extend(lst3)
lst

['Cat', 'Dog', 'Bear', 'Snake', 'Horse', 'Tiger', 'Wolf', 'Eagle', 'Koala']

In [18]:
# insert
lst.insert(2, "Panda")
lst

['Cat',
 'Dog',
 'Panda',
 'Bear',
 'Snake',
 'Horse',
 'Tiger',
 'Wolf',
 'Eagle',
 'Koala']

In [19]:
# pop and remove
lst.pop()
lst

['Cat', 'Dog', 'Panda', 'Bear', 'Snake', 'Horse', 'Tiger', 'Wolf', 'Eagle']

In [20]:
lst.remove("Panda")
lst

['Cat', 'Dog', 'Bear', 'Snake', 'Horse', 'Tiger', 'Wolf', 'Eagle']

In [21]:
# reordering
lst.reverse()

In [22]:
lst

['Eagle', 'Wolf', 'Tiger', 'Horse', 'Snake', 'Bear', 'Dog', 'Cat']

In [23]:
lst.sort()
lst

['Bear', 'Cat', 'Dog', 'Eagle', 'Horse', 'Snake', 'Tiger', 'Wolf']

# Perform the following on ‘Tuples’ using Python

a) Updating, Indexing, deleting, slicing.

b) Using following built-in Methods to manipulate Tuples: max(), min(), len(), tuple().

In [24]:
# Question 3

In [25]:
# update
tup = (2, 4, 6, 8, 10)
tup

(2, 4, 6, 8, 10)

In [26]:
tup = ("Eagle", "Crow", "Owl", "Nightingale")
tup

('Eagle', 'Crow', 'Owl', 'Nightingale')

In [27]:
# indexing, deleting and slicing
tup[2]

'Owl'

In [28]:
tup2 = tup[1:3]
tup2

('Crow', 'Owl')

In [29]:
# built-in methods
max(tup)

'Owl'

In [30]:
min(tup)

'Crow'

In [31]:
len(tup)

4

In [32]:
x = [1, 2, 3]
x

[1, 2, 3]

In [33]:
x = tuple(x)

In [34]:
type(x)

tuple

# Perform the following on ‘Dictionary’ using Python

a) Updating, deleting

b) Using following built-in Methods to manipulate Dictionary: update(), values(),get(), clear(), copy(), type(), len().

In [35]:
# Question 4

In [36]:
dic = {"india": "new delhi", 
       "pakistan": "islamabad", 
       "nepal": "new katmandu", 
       "bangladesh": "dhaka", 
       "sri lanka": "Sri jayawardhanapura"}

In [37]:
dic

{'india': 'new delhi',
 'pakistan': 'islamabad',
 'nepal': 'new katmandu',
 'bangladesh': 'dhaka',
 'sri lanka': 'Sri jayawardhanapura'}

In [38]:
# update
dic.update({"nepal": "katmandu"})
dic

{'india': 'new delhi',
 'pakistan': 'islamabad',
 'nepal': 'katmandu',
 'bangladesh': 'dhaka',
 'sri lanka': 'Sri jayawardhanapura'}

In [39]:
# deleting
del dic["pakistan"]
dic

{'india': 'new delhi',
 'nepal': 'katmandu',
 'bangladesh': 'dhaka',
 'sri lanka': 'Sri jayawardhanapura'}

In [40]:
# built-in methods
dic.update({"sri lanka": "sri jayawardhanapura kotte"})
dic

{'india': 'new delhi',
 'nepal': 'katmandu',
 'bangladesh': 'dhaka',
 'sri lanka': 'sri jayawardhanapura kotte'}

In [41]:
dic.values()

dict_values(['new delhi', 'katmandu', 'dhaka', 'sri jayawardhanapura kotte'])

In [42]:
dic.keys()

dict_keys(['india', 'nepal', 'bangladesh', 'sri lanka'])

In [43]:
dic.get("india")

'new delhi'

In [44]:
# clearing
dic2 = {"x": "y"}
dic2

{'x': 'y'}

In [45]:
dic2.clear()

In [46]:
dic2

{}

In [47]:
dic2 = dic.copy()
dic2

{'india': 'new delhi',
 'nepal': 'katmandu',
 'bangladesh': 'dhaka',
 'sri lanka': 'sri jayawardhanapura kotte'}

In [48]:
type(dic)

dict

In [49]:
len(dic)

4

# Create Separate Sets for Indian Cricket Players playing in T20, ODI and Test Match for current West Indies tour. Also perform the union(), intersection(), difference() operations on the above sets.

In [50]:
# Question 5

In [51]:
# Create Separate Sets for Indian Cricket Players playing in T20, ODI and Test Match for current West Indies tour. 
# Also perform the union(), intersection(), difference() operations on the above sets.

t20 = ("Sharma", "Kohli", "Rahane", "Dhawan", "Chahal", "Bumrah", "Ashwin", "Pandya", "Jadeja", "Rahul")
odi = ("Sharma", "Kohli", "Rahane", "Dhawan", "Pant", "Shami", "Ashwin", "Pandya", "Jadeja", "Iyer")
test = ("Sharma", "Kohli", "Nehra", "Dhawan", "Dhoni", "Bumrah", "Ashwin", "Pandya", "Jadeja", "Rahul")

t20 = set(t20)
odi = set(odi)
test = set(test)

In [52]:
set_union = t20 | odi
set_union

{'Ashwin',
 'Bumrah',
 'Chahal',
 'Dhawan',
 'Iyer',
 'Jadeja',
 'Kohli',
 'Pandya',
 'Pant',
 'Rahane',
 'Rahul',
 'Shami',
 'Sharma'}

In [53]:
set_int = t20 & odi
set_int

{'Ashwin', 'Dhawan', 'Jadeja', 'Kohli', 'Pandya', 'Rahane', 'Sharma'}

In [54]:
set_diff = t20 - odi
set_diff

{'Bumrah', 'Chahal', 'Rahul'}

In [55]:
set_symm_diff = t20 ^ odi
set_symm_diff

{'Bumrah', 'Chahal', 'Iyer', 'Pant', 'Rahul', 'Shami'}

# Find the Largest of the 4 Strings using Conditional Statements(if-elif-else) using Python.

In [56]:
# Question 6

In [57]:
s1 = "Long"
s2 = "Large"
s3 = "Larger"
s4 = "Largest"

In [58]:
if len(s1) >= len(s2) and len(s1) >= len(s3) and len(s1) >= len(s3):
    print(s1, " is largest")
elif len(s2) >= len(s1) and len(s2) >= len(s3) and len(s2) >= len(s4):
    print(s2, " is largest")
elif len(s3) >= len(s1) and len(s3) >= len(s2) and len(s3) >= len(s4):
    print(s3, " is largest")
else:
    print(s4, "is largest")

Largest is largest

# Write a function to generate even numbers between 1 to 30. Create a list squaring these numbers and display the list as well. Create another list by filtering the squared list using ‘anonymous’ function to get those numbers which are even numbers( Hint: Use filter() method and ‘lambda’ keyword )

In [59]:
# Question 7

In [60]:
def even_nums(num1, num2):
    if num1 >= num2:
        return []
    else:
        i = num1
        lst = []
        while i <= num2:
            if i % 2 == 0:
                lst.append(i)
            i = i + 1
        return lst

In [61]:
lst_even = even_nums(1, 30)
lst_even

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [62]:
import numpy as np
lst_even = np.array(lst_even)
lst_even

array([ 2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30])

In [63]:
lst_even_sq = lst_even * lst_even

In [64]:
lst_even_sq

array([  4,  16,  36,  64, 100, 144, 196, 256, 324, 400, 484, 576, 676,
       784, 900])